@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var mov in Model)
            {
                <tr>
                    <td>@mov.Id</td>
                    <td>@mov.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no Movies yet!</p>
}